<h1>Listing blogposts</h1>
<p>
<%= will_paginate @blogposts %>
<table lass="pretty" id="rounded-corner">
	<colgroup>
	<col width="200">
	<col width="200">
	<col width="50">
	<col width="50">
	<col width="200">
		</colgroup>
		
		
<% @blogposts.each do |post| %>
<tr valign="top" align="left">
  <td><%= post.header %></td>
  <td><%= post.updated_at.strftime("%Y-%m-%d") %></td>
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_blogpost_path(post) %></td>
  <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<p>
<%= link_to 'New Blogpost', new_blogpost_path %>
