<p id="notice"><%= notice %></p>

<p>
  <b><%= @blogpost.header %></b>
</p>

<p>
  <%= @blogpost.content %>
</p>

<p>
  <b>User:</b>
  <%= @blogpost.user.name %>
</p>

<p>
  <b>Created:</b>
  <%= @blogpost.created_at %>
</p>
<p>
<b>Modified:</b>
<%= @blogpost.updated_at %>
</p>

<% if signed_in? && admin? %>
<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<% end %>
<%= link_to 'Back', blogposts_path %>
