<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>


<table cellpadding="5" border="0">
	<colgroup>
    	<col width="200">
    	<col width="250">    
    	<col width="200">    
    	<col width="250"> 
	   	<col width="200">    
	    <col width="250">   
	</colgroup>  
	<tr>
    	<td valign="top" align="right"><b>Reviewed</b></td>
    	<td valign="top" ><%= f.check_box :reviewed %></td>
	</tr>
	<tr>
    	<td valign="top" align="right"><b>Title</b></td>
    	<td valign="top" ><%= f.text_field :name %></td>
	<tr>
    	<td valign="top" align="right"><b><%= f.label :reference %></b></td>
    	<td valign="top" colspan="3"><%= f.text_field :reference, :size => "100" %></td>
	</tr>
	
	
</table>
	<%= f.hidden_field :event_id, :value => @source.event_id %>
  		<div class="actions">
    		<%= f.submit %>
  		</div>
<% end %>





