<h3>Source Details: <%= @source.name %></h3

<p></p>

<%= link_to 'Back to Incident', @source.event.incident %> |
<%= link_to 'Back to Event', @source.event %> |
<% if signed_in? && admin? %>
| <%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Delete', @event, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<p id="notice"><%= notice %></p>

<table cellpadding="5" border="0">
  <colgroup>
    <col width="150">
    <col width="100">    
    <col width="300">    
    <col width="150">    
  </colgroup>  
  <tr>
    <td valign="top" align="right"><b>Belongs to Incident:</b></td>
    <td valign="top" colspan="3"><%= link_to @source.event.incident.name, @source.event.incident %></td>
  </tr>
  <tr>
    <td valign="top" align="right"><b>Belongs to Event:</b></td>
    <td valign="top" colspan="3"><%= link_to @source.event.name, @source.event %></td>
  </tr>
  <tr>
    <td valign="top" align="right"><b>Published at:</b></td>
    <td valign="top" colspan="3"><%= @source.publishingdate %></td>
  </tr>
  <tr>
    <td valign="top" align="right"><b>Summary:</b></td>
    <td valign="top" colspan="3"><%= @source.summary %></td>
  </tr>  
  <tr>
    <td valign="top" align="right"><b>Publisher:</b></td>
    <td valign="top" colspan="3"><%= @source.publisher %></td>
  </tr>
  <tr>
    <td valign="top" align="right"><b>Reference:</b></td>
    <td valign="top" colspan="3"><%= link_to @source.reference, @source.reference %></td>
  </tr>  
  <tr>
    <td valign="top" align="right"><b>Submitted by:</b></td>
    <td valign="top" colspan="3"><%= @source.user.name %></td>
  </tr>  
</table>  