<h1>Listing svsectors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @svsectors.each do |svsector| %>
  <tr>
    <td><%= svsector.name %></td>
    <td><%= svsector.description %></td>
    <td><%= link_to 'Show', svsector %></td>
    <td><%= link_to 'Edit', edit_svsector_path(svsector) %></td>
    <td><%= link_to 'Destroy', svsector, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Svsector', new_svsector_path %>
