<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @svsector.name %>
</p>

<p>
  <b>Description:</b>
  <%= @svsector.description %>
</p>


<%= link_to 'Edit', edit_svsector_path(@svsector) %> |
<%= link_to 'Back', svsectors_path %>
