<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>

<table cellpadding="5" border="0">
<colgroup>
     <col width="150">
     <col width="365">
</colgroup>
<tr>
	<td valign="top" align="left"><b><%= f.label :firstseen, "First known event" %></b></td>
    <td valign="top" colspan="2" ><%= f.date_select :firstseen %></td>
</tr>
<tr>
     <td valign="top" align="left"><b><%= f.label :name %></b></td>
     <td valign="top" colspan="2" ><%= f.text_field :name, :size => "96" %></td>

</tr>
<tr>
     <td valign="top" align="left"><b><%= f.label :summary %></b></td>
     <td valign="top" colspan="2"><%= f.text_area :summary, :size => "96x10" %></td>
</tr>
<% if signed_in? && admin? %>
<tr>
	<td><b><%= f.label :reviewed %></b></td>
	<td><%= f.check_box :reviewed %></td>
</tr>
<% end %>
<tr>
	<td></td>
</tr>
<tr>
	<td valign="top" align="center"></td>
	<td valign="top" align="center"><b>Classification</b></td>
    <td valign="top" align="center"><b>Description</b></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Primary Victim</b></td>
	<td valign="top" ><%= f.select :pvsector_id, Pvsector.all.sort!{ |a,b| a.name <=> b.name }.collect {|sector| [ sector.name, sector.id ] } %></td>
	<td valign="top" ><%= f.text_field :pvname, :size => "60" %></td>
</tr>
<!--
<tr>
	<td valign="top" align="left"><b>Secondary Victim</b></td>
    <td valign="top" ><%= f.select :svsector_id, Svsector.order("name asc").collect {|sector| [ sector.name, sector.id ] } %></td>
    <td valign="top" ><%= f.text_field :svname, :size => "60" %></td>
</tr>
-->
<tr>
	<td valign="top" align="left"><b>Attack</b></td>
    <td valign="top" ><%= f.select :attack_id, Attack.order("name asc").collect {|attack| [ attack.name, attack.id ] } %></td>
    <td valign="top" ><%= f.text_field :attackdescription, :size => "60" %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Attacker</b></td>
    <td valign="top" ><%= f.select :attacker_id, Attacker.order("name asc").collect {|attacker| [ attacker.name, attacker.id ] } %></td>
    <td valign="top" ><%= f.text_field :attackerdescription, :size => "60" %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Target</b></td>
    <td valign="top" ><%= f.select :target_id, Target.order("name asc").collect {|target| [ target.name, target.id ] } %></td>
    <td valign="top" ><%= f.text_field :targetdescription, :size => "60" %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Country</b></td>
    <td valign="top" ><%= f.select :country_id, Country.order("name asc").collect {|country| [ country.name, country.id ] } %></td>
</tr>
</table>  
<br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<br>
