<h2>Submit new incidents</h2>

<p>
<%= link_to "Submit a new incident", new_incident_path  %>
</p>

<h2>Search and Browse the Incident Database</h2>
<%= form_tag incidents_path, :method => :get do %>
	<p>
		<table>
			<colgroup>
		    	<col width="200">
				<col width="200">
			</colgroup>
			<tr align="top" align="right">
				<td>
					<%= text_field_tag :search, params[:search] %>  	
				</td>
				<td>
					<%= submit_tag "Search", :name => nil %>				
				</td>
			</tr>
		</table>
	</p>
		
		
	<%= will_paginate @incidnets %>

	<table class="pretty" id="rounded-corner" width="910">
	  <colgroup>
		<% if signed_in? && admin? %>
			<col width="5">
		<% end %>
		<col width="70">
	    <col width="150">
	    <col width="100">
	    <col width="50">
		<% if signed_in? && admin? %>
			<col width="50">
		<% end %>
	  </colgroup>
	
	  <tr valign="top" align="left">
		<% if signed_in? && admin? %>
	    <th>Rev</th>
		<% end %>
		<th>First Seen</th>
	    <th>Name</th>
	    <th>Victim</th>
	    <th>Attacker</th>
	    <% if signed_in? && admin? %>
	    <th>Admin</th>
	    <% end %>
	  </tr>
	
		<% @incidents.each do |incident| %>

			<% if signed_in? && admin? %>
				<tr valign="top" align="left">
		    		<td><%= incident.reviewed %></td>		
					<td><%= incident.firstseen.strftime("%Y-%m-%d") %></td>
	    			<td><%= link_to incident.name, incident %></td>
	    			<td><%= incident.pvname %></td>
	    			<td><%= incident.attacker.name %></td>
	    			<td><%= link_to 'Edit', edit_incident_path(incident) %> | 
	    			<%= link_to 'Del', incident, :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
			<% else %>
				<% if incident.reviewed %>
				<tr valign="top" align="left">
					<td><%= incident.firstseen.strftime("%Y-%m-%d") %></td>
	    			<td><%= link_to incident.name, incident %></td>
	    			<td><%= incident.pvname %></td>
	    			<td><%= incident.attacker.name %></td>
				</tr>
				<% end %>
			<% end %>

		<% end %>
	</table>
<% end %>
