<h3>Incident Details: <%= @incident.name %></h3

<%= link_to 'Back to Incidents', incidents_path %> | 
<%= link_to 'Add Event', new_event_path(:ref => @incident.id) %>
<% if signed_in? && admin? %>
| <%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Delete', @incident, :confirm => 'Are you sure?', :method => :delete %>
<% end %>


<p id="notice"><%= notice %></p>

<h4>Classification</h4>
<table cellpadding="5" border="o">
  <colgroup>
    <col width="150">
    <col width="100">    
    <col width="300">    
    <col width="150">    
  </colgroup>  
  <tr>
    <td valign="top" align="left"><b>OSID ID:</b></td>
    <td valign="top" colspan="3"><%= @incident.id %></td>
</tr>
  <tr>
    <td valign="top" align="left"><b>Name:</b></td>
    <td valign="top" colspan="3"><%= @incident.name %></td>
</tr>
<tr>
    <td valign="top" align="left"><b>First Seen:</b></td>
    <td valign="top" colspan="3"><%= @incident.firstseen %></td>
  </tr>    
  <tr>
    <td valign="top" align="left"><b>Primary Victim:</b></td>
    <td valign="top" colspan="3"><%= @incident.pvsector.name %> / <%= @incident.pvname %></td>
  </tr>
    <td valign="top" align="left"><b>Secondary Victim:</b></td>
    <td valign="top" colspan="3"><%= @incident.pvsector.name %> / <%= @incident.svname %></td>
  </tr> 
  <tr>
    <td valign="top" align="left"><b>Attack Description:</b></td>
    <td valign="top" colspan="3"><%= @incident.attack.name %> / <%= @incident.attackdescription %></td>
  </tr>
  <tr>
    <td valign="top" align="left"><b>Attacker Description:</b></td>
    <td valign="top" colspan="3"><%= @incident.attacker.name %> / <%= @incident.attackerdescription %></td>
  </tr>
  <tr>
    <td valign="top" align="left"><b>Target Description:</b></td>
    <td valign="top" colspan="3"><%= @incident.target.name %> / <%= @incident.targetdescription %></td>
  </tr>
</table>

<h4>Description</h4>
<table cellpadding="5" border="0">
  <tr>
    <td valign="top" align="right"><b></b></td>
    <td valign="top" colspan="3" colspan="3"><%= @incident.summary %></td>
  </tr>
</table>

<h4>Timeline</h4>
	<table cellpadding="5" border="0">
		<colgroup>
		    <col width="100">
		    <col width="400">    
		    <col width="100">       
			<col width="100"> 
		 </colgroup>

	<% @incident.events.order("date DESC").each do |event| %>
  	<tr>
    	<td><b><%= event.date %></b></td> 
    	<td><%= link_to event.name, event %> </td>
    	<% if signed_in? && admin? %>
    	<td><%= link_to 'Edit', edit_event_path(event) %></td>
		<% end %>
	</tr>
    
  <% end %>
</table>
<br>

<h4>Changes</h4>
	<table cellpadding="5" border="0">
		<colgroup>
		    <col width="100">
		    <col width="200">    
		 </colgroup>
		<tr>
			<td><b>Submitted by:</b></td>
			<td><%= @incident.user.name %><br></td>
		</tr>
		<tr>
			<td><b>Created at:</b></td>
			<td><%= @incident.created_at %></td>
		</tr>
		<tr>
			<td><b>Updated at:</b></td>
			<td><%= @incident.updated_at %></td>
		</tr>
	</table>
