<h3>Incident Details: <%= @incident.name %></h3>
<hr>
<%= link_to "Back to Incidents", incidents_path %> |
<%= link_to 'Add Event', new_event_path(:ref => @incident.id) %>
<% if signed_in? && (admin? || own_object(@incident)) %>
| <%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Destroy', @incident, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<p id="notice"><%= notice %></p>

<hr>
<table cellpadding="5" border="0">
<colgroup>
     <col width="150">
     <col width="365">
</colgroup>
<tr>
	<td valign="top" align="left"><b>OSID ID</b></td>
    <td valign="top" colspan="2" ><%= @incident.id %></td>
</tr>
<tr>
     <td valign="top" align="left"><b>Name</b></td>
     <td valign="top" colspan="2" ><%= @incident.name %></td>
</tr>
<tr>
	<td valign="top" align="left"><b><b>First Seen</b</b></td>
    <td valign="top" colspan="2" ><%= @incident.firstseen %></td>
</tr>
<tr>
     <td valign="top" align="left"><b>Summary</b></td>
     <td valign="top" colspan="2"><%= @incident.summary %></td>
</tr>
<tr>
	<td><b>Reviewed</b></td>
	<td><%= @incident.reviewed %></td>
</tr>

<tr>
	<td></td>
</tr>
<tr>
	<td valign="top" align="left"></td>
	<td valign="top" align="left"><b>Classification</b></td>
    <td valign="top" align="left"><b>Description</b></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Primary Victim</b></td>
	<td valign="top" ><%= @incident.pvsector.name %></td>
	<td valign="top" ><%= @incident.pvname %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Attack</b></td>
    <td valign="top" ><%= @incident.attack.name %></td>
    <td valign="top" ><%= @incident.attackdescription %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Attacker</b></td>
    <td valign="top" ><%= @incident.attacker.name %></td>
    <td valign="top" ><%= @incident.attackerdescription %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Weakness</b></td>
    <td valign="top" ><%= @incident.weakness.name %></td>
    <td valign="top" ><%= @incident.weaknessdescription %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Target</b></td>
    <td valign="top" ><%= @incident.target.name %></td>
    <td valign="top" ><%= @incident.targetdescription %></td>
</tr>
<tr>
	<td valign="top" align="left"><b>Country</b></td>
    <td valign="top" ><%= @incident.country.name	 %></td>
</tr>
</table>

<hr>
<h4>Timeline</h4>
	<table cellpadding="5" border="0">
		<colgroup>
		    <col width="150">
		    <col width="500">    
		    <col width="100">       
			<col width="100"> 
		 </colgroup>

	<% @incident.events.order("date DESC").each do |event| %>
  	<tr>
    	<td><b><%= event.date %></b></td> 
    	<td><%= link_to event.name, event %> </td>
    	<% if signed_in? && (admin? || own_object(@incident)) %>
    	<td><%= link_to 'Edit', edit_event_path(event) %></td>
		<% end %>
	</tr>
    
  <% end %>
</table>
<br>

<hr>
<h4>Changes</h4>
	<table cellpadding="5" border="0">
		<colgroup>
		    <col width="150">
		    <col width="200">    
		 </colgroup>
		<tr>
			<td><b>Submitted by:</b></td>
			<td><%= @incident.user.name %><br></td>
		</tr>
		<tr>
			<td><b>Created at:</b></td>
			<td><%= @incident.created_at.strftime("%Y-%m-%d") %></td>
		</tr>
		<tr>
			<td><b>Updated at:</b></td>
			<td><%= @incident.updated_at.strftime("%Y-%m-%d") %></td>
		</tr>
	</table>
