<h1>Listing Attacks</h1>
<p>
<table lass="pretty" id="rounded-corner">
	<colgroup>
  		<col width="100">
		<col width="150">
		<% if signed_in? && admin? %>
			<col width="50">
		<% end %>
	</colgroup>
  <tr>
    <th>Name</th>
    <th>Description</th>
	<% if signed_in? && admin? %>
		<th>Admin</th>
	<% end %>
  </tr>

<% @attacks.each do |attack| %>
  <tr valign="top" align="left">
    <td><%= attack.name %></td>
    <td><%= attack.description %></td>
	<% if signed_in? && admin? %>
    	<td><%= link_to 'Show', attack %> |
    	<%= link_to 'Edit', edit_attack_path(attack) %> |
		<%= link_to 'Destroy', attack, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
  </tr>
<% end %>
</table>

<% if signed_in? && admin? %>
<%= link_to 'New Attack', new_attack_path %>
<% end %>