<h1>Listing attacks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attacks.each do |attack| %>
  <tr>
    <td><%= attack.name %></td>
    <td><%= attack.description %></td>
    <td><%= link_to 'Show', attack %></td>
    <td><%= link_to 'Edit', edit_attack_path(attack) %></td>
    <td><%= link_to 'Destroy', attack, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attack', new_attack_path %>
