<h1>Listing users</h1>
<p>
<%= will_paginate @users %>

<table lass="pretty" id="rounded-corner">
	<colgroup>
  		<col width="200">
		<col width="200">
		<col width="50">
		<col width="50">
		<col width="200">
	</colgroup>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Active</th>
    <th>Lastlogin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr valign="top" align="left">
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.admin %></td>
    <td><%= user.active %></td>
    <td><%= user.lastlogin %></td>
    <% if signed_in? && admin? %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<p>
<%= link_to 'New User', new_user_path %>
