<h3>Event Details: <%= @event.name %></h3>
<hr>
<%= link_to 'Back to Incidnet', @event.incident %> |
<%= link_to 'Add Source', new_source_path(:ref => @event.id) %>
<% if signed_in? && admin? %>
| <%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<hr>
<p id="notice"><%= notice %></p>

<table cellpadding="5" border="0">
  <colgroup>
    <col width="150">
    <col width="100">    
    <col width="300">    
    <col width="150">    
  </colgroup>  
  <tr>
    <td valign="top" align="right"><b>Belongs to Incident:</b></td>
    <td valign="top" colspan="3"><%= link_to @event.incident.name, @event.incident %></td>
  </tr>
  <tr>
    <td valign="top" align="right"><b>Happend at:</b></td>
    <td valign="top" colspan="3"><%= @event.date %></td>
  </tr>
  <tr>
    <td valign="top" align="right"><b>Description:</b></td>
    <td valign="top" colspan="3"><%= @event.description %></td>
  </tr>  
</table>

<table cellpadding="5" border="0">
  <colgroup>
    <col width="150">
    <col width="600">    
    <col width="100">    
  </colgroup>  
  <tr>
	<td valign="top" align="right"><b>Sources:</b></td>
	<td valign="top" align="left"></td>
	<td valign="top" align="left"></td>
</tr>
  <tr>
	<td valign="top" align="left"></td>
	<td valign="top" align="left"><b>Name</b></td>
	<td valign="top" align="left"><b>Link</b></td>
	</tr>
  	<% @event.sources.each do |source| %>
      <tr>
		<td valign="top" align="left"></td>
        <td valign="top"><%= link_to source.name, source %> </td>
        <td valign="top"><%= link_to "Link", source.reference %></td>
      </tr>
    <% end %>
  <tr>
</table>
<table cellpadding="5" border="0">
  <colgroup>
    <col width="150">   
  </colgroup>  
  <tr>
	<td valign="top" align="right"><b>Add a new source:</b></td>
	<td valign="top" align="left"></td>
	<td valign="top" align="left"></td>
</tr>
<%= form_for(@source) do |f| %>
		<tr>
	    	<td valign="top" align="right"><b><%= f.label :name %></b></td>
	    	<td valign="top" ><%= f.text_field :name %></td>
		</tr>
		<tr>
	    	<td valign="top" align="right"><b><%= f.label :reference %></b></td>
	    	<td valign="top" colspan="3"><%= f.text_field :reference, :size => "100" %></td>
		</tr>
		<tr>
	
			<td></td>
						<td>
	<%= f.hidden_field :event_id, :value => @event.id %>
  		<div class="actions">
    		<%= f.submit %>
  		</div>
<% end %>
</td>
</tr>
</table>
<hr>
<h4>Changes</h4>
	<table cellpadding="5" border="0">
		<colgroup>
		    <col width="150">
		    <col width="200">    
		 </colgroup>
		<tr>
			<td><b>Submitted by:</b></td>
			<td><%= @event.user.name %><br></td>
		</tr>
		<tr>
			<td><b>Created at:</b></td>
			<td><%= @event.created_at.strftime("%Y-%m-%d") %></td>
		</tr>
		<tr>
			<td><b>Updated at:</b></td>
			<td><%= @event.updated_at.strftime("%Y-%m-%d") %></td>
		</tr>
	</table>




