<h1>Admin</h1>
<p>
<%= link_to 'Admin Users', users_path %> <p>
<%= link_to 'Admin Incidents', incidents_path %> <p>
<%= link_to 'Admin Updates', events_path %> <p>
<%= link_to 'Admin Sources', sources_path %> <p>
<%= link_to 'Admin Targets', targets_path %> <p>
<%= link_to 'Admin Attackers', attackers_path %> <p>
<%= link_to 'Admin Primary Victim Sectors', pvsectors_path %> <p>
<%= link_to 'Admin Secondary Victim Sectors', svsectors_path %> <p>
<%= link_to 'Admin Countries', countries_path %> <p>
<%= link_to 'Admin Blogposts', blogposts_path %> <p>