<h2>The latest website stats</h2>
<p>
<table>
	<tr>
		<td>Nr. Incidents: </td><td><%= @incidents_count %> </td><td>latest update: </td><td><%=  @incidents_latest.created_at %></td>
		</tr>
		<tr>
		<td>Nr. Events:  </td><td><%= @events_count %> </td><td>latest update: </td><td><%=  @events_latest.created_at %></td>
		</tr>
		<tr>
		<td>Nr. Sources: </td><td><%= @sources_count %> </td><td>latest update: </td><td><%=  @sources_latest.created_at %></td>
		</tr>
		<tr>
		<td>Nr. Users:  </td><td><%= @users_count %> </td><td>latest update: </td><td><%=  @users_latest.created_at %></td>
	</tr>
</table>				
</p>

<h2>Latest news</h2>
<p>
<table>
	<col width="600">
	<col width="200">
	<col width="100">
<% @blogposts.each do |post| %>
 	<tr>
		<td><b><%= post.header %></b></td><td><%= post.updated_at %></td><td>by: <%= post.user.name %></td>
	</tr>
	<tr>
		<td colspan="3"><br><%= post.content %><br><br><br></td>
	</tr>
<% end %>
</table>
</p>