<h1>Listing Attackers</h1>
<p>
<table lass="pretty" id="rounded-corner">
	<colgroup>
  		<col width="200">
		<col width="200">
		<col width="50">
		<col width="50">
		<col width="200">
	</colgroup>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attackers.each do |attacker| %>
  <tr valign="top" align="left">
    <td><%= attacker.name %></td>
    <td><%= attacker.description %></td>
    <td><%= link_to 'Show', attacker %></td>
    <td><%= link_to 'Edit', edit_attacker_path(attacker) %></td>
    <td><%= link_to 'Destroy', attacker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<b>
<%= link_to 'New Attacker', new_attacker_path %>
