<h1>Listing attackers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attackers.each do |attacker| %>
  <tr>
    <td><%= attacker.name %></td>
    <td><%= attacker.description %></td>
    <td><%= link_to 'Show', attacker %></td>
    <td><%= link_to 'Edit', edit_attacker_path(attacker) %></td>
    <td><%= link_to 'Destroy', attacker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attacker', new_attacker_path %>
