<h1>Listing Attackers</h1>
<p>
<table class="pretty" id="rounded-corner">
	<colgroup>
  		<col width="100">
		<col width="150">
		<% if signed_in? && admin? %>
			<col width="50">
		<% end %>
	</colgroup>
  <tr>
    <th>Name</th>
    <th>Description</th>
	<% if signed_in? && admin? %>
		<th>Admin</th>
	<% end %>
  </tr>

<% @attackers.each do |attacker| %>
  <tr valign="top" align="left">
    <td><%= attacker.name %></td>
    <td><%= attacker.description %></td>
	<% if signed_in? && admin? %>
    	<td> <%= link_to 'Show', attacker %> | <%= link_to 'Edit', edit_attacker_path(attacker) %> |
    	<%= link_to 'Destroy', attacker, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
<% if signed_in? && admin? %>
<%= link_to 'New Attacker', new_attacker_path %>
<% end %>
