<h1>Listing countries</h1>
<p>
<table lass="pretty" id="rounded-corner">
	<colgroup>
  		<col width="100">
		<col width="150">
		<% if signed_in? && admin? %>
			<col width="50">
		<% end %>
	</colgroup>
  <tr>
    <th>Name</th>
    <th>Code</th>
	<% if signed_in? && admin? %>
		<th>Admin</th>
	<% end %>
  </tr>

<% @countries.each do |country| %>
  <tr valign="top" align="left">
    <td><%= country.name %></td>
    <td><%= country.code %></td>
	<% if signed_in? && admin? %>
    	<td><%= link_to 'Show', country %> |
    	<%= link_to 'Edit', edit_country_path(country) %> |
    	<%= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
<% if signed_in? && admin? %>
<%= link_to 'New Country', new_country_path %>
<% end %>
