<!DOCTYPE html>
<html>
         <head>
                 <title><%= title %></title>

                         <%= csrf_meta_tag %>
                         <%= render 'layouts/stylesheets' %>
                         <%= javascript_include_tag :application %>

						<link type="text/css" href="/stylesheets/smoothness/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
						<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
						<script type="text/javascript" src="/javascripts/jquery-ui-1.8.22.custom.min.js"></script>


         </head>
         <body>
                 <div class="container">
                         <%= render 'layouts/header' %>
                                 <% flash.each do |key, value| %>
                                         <div class="flash <%= key %>"><%= value %></div>
                                 <% end %>                                
                                         <div id="mycontent">
                                                 <%= yield %>
                                         </div>
                                 <%= render 'layouts/footer' %>
                         <%= debug(params) if Rails.env.development? %>
                 </div>
         </body>
</html>